<div>
	<mat-card>
		<mat-card-header>
			<mat-card-title>Best-Case Runtime</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			{{ solution['best-case'] }}
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>Worst-Case Runtime</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			{{ solution['worst-case'] }}
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>Average Runtime</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			{{ solution['average'] }}
		</mat-card-content>
	</mat-card>
</div>

<div class="array-container">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Initial Array</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div *ngFor="let number of initial" class="array-item">
				{{ number }}
			</div>
		</mat-card-content>
	</mat-card>
</div>