<app-start [solution]="solution" [array]="starting_array"></app-start>

<br>

<div *ngFor="let _ of [].constructor(num_guesses); let i = index" class="board">
	<app-guess *ngIf="guess_index > i - 1" [options]="options" [solution]="solution" (guessSubmitted)="submitGuess($event)"></app-guess>
	<app-hint *ngIf="guesses[i] != '' && guesses[i] != solution['name']" [array]="arrays[i] ? arrays[i] : []"></app-hint>
</div>

<div id="submitBtnContainer">
	<button mat-button *ngIf="!gameOver" id="submitBtn" (click)="submitCurrentGuess()">submit guess</button>
	<button mat-button *ngIf="gameOver" id="shareBtn" (click)="openGameOverDialog(guesses[guess_index] == solution['name'])">share result</button>
	<button mat-button *ngIf="gameOver" id="newGameBtn" (click)="restart()">new game</button>
</div>