<mat-form-field class="field" color="primary">
	<mat-label>Sort Guess</mat-label>
	<input matInput
		type="text"
		placeholder="FooBar Sort"
		aria-label="Sort guess"
		[formControl]="formControl"
		[matAutocomplete]="auto"
		(keydown.enter)="submitGuess()"
	/>
	<mat-autocomplete requireSelection #auto="matAutocomplete">
		<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
			{{ option }}
		</mat-option>
	</mat-autocomplete>
	<mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>